body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#map {
    height: 100vh;
    width: 80%;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

#details {
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    border-right: 1px solid #242f3e;
}

.nav {
    background-color: #17263c;
    color: #d59563;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
}

table, td, th {
    margin: 0;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}